.agenda{
    background: #000;
    padding: 2rem 0;
    h2{
        color: #fff;
        font-family: novo-titulo;
        text-transform: uppercase;
    }
    .cont-agenda{
        display: flex;
        justify-content: space-between;
        border-top: solid 1px;
        padding: 1rem;
        @include tablet{
            flex-direction: column;
        }
        .data{
            padding:0 2rem;
            color: #fff;
            font-family: novo-titulo;
            width: 5%;
            @include tablet{
                width: 100%;
            }
        }
        .conteudo{
            width: 50%;
            color: #fff;
            display:flex;
            flex-direction: column;
            @include tablet{
                width: 100%;
            }
            .data-horario{
                font-size: .8rem;
                font-family: regular-padrao;
            }
            h3{
                font-family: novo-titulo;
                margin-top: 1.3rem;
            }
            p{
                font-family: regular-padrao;

            }
        }
        .img{
            width: 25%;
            img{
                width: 100%;
                height: 160px;
                object-fit: cover;
            }
            @include tablet{
                width: 100%;
            }
        }
    }
}

.modal-agenda{
    .modal-content{
        border: solid 1px #fff;
    }
    .modal-header{
        background: #000;
        border: none;
    }
    .modal-body{
        padding: 1rem;
        background: #000;
        .img-evento{
            margin-bottom: 1.4rem;
            img{
                width: 100%;
                height: inherit;
                object-fit: cover;
            }
        }
        h2{
            font-family: novo-titulo;
            font-size: 2rem;
            color: #Fff;
        }
        p{
            color: #fff;
            font-family: regular-padrao;
        }
    }
}