.albuns{
    background: #000;
    background-size: cover;
    background-position: bottom;
    padding: 4rem 1rem;
    @include tablet{
        padding: 2rem 0;
    }
    h2{
        color: #fff;
        font-family: novo-titulo;
        text-transform: uppercase;
        font-size: 2.3rem;
        margin-bottom: 2.5rem;
        @include mobile{
            margin-bottom: 1rem;
        }
    }
    .cont-discografia{
        nav{
            .active{
                display: none;
            }
        }
        .musicas-albuns{
            @include tablet{
                margin-top: 1rem;
            }
            .ai-control-wrap-thumb{
                display: none!important;
            }
        }
        .capa-disco{
            display: flex;
            flex-direction: column;
            width: 60%;
            @include tablet{
                width: 100%;
            }
            .capa{
                width: 100%;
                margin-bottom: 1.2rem;
            }
            .ano{
                font-size: .9rem;
                color: #fff;
                font-family: regular-padrao;
            }
            .titulo{
                color: #fff;
                font-family: regular-padrao;
                text-transform: uppercase;
                font-weight: 600;
            }
            .autor{
                color: #fff;
                font-family: regular-padrao;
                font-size: 1.1rem;
            }
        }
        .nav-tabs{
            width: 100%;
            border-bottom: none;
            .seta-disco{
                @include tablet{
                    display: none;
                }
            }
            .active{
                background: transparent;
            }
            .nav-link{
                border: none;
                color: #fff;
                    font-family: regular-padrao;
                &:hover{
                    border: none;
                }
            }
            .nav-item{
                width: 100%;
                padding: 0;
                margin-top: 1.2rem;
                .row-capas{
                    width: 57%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: solid 1px #fff;
                    padding: 1rem;
                    @include tablet{
                        width: 100%;
                    }
                    .cont-capas-nav{
                        display: flex;
                        .info-nav{
                            display: flex;
                            flex-direction: column;
                            margin-left: 1rem;
                            span:nth-child(1){
                                margin-bottom: 1.2rem;
                            }
                            span:nth-child(2){
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }
    }
    // .cont-albuns{
    //     display: flex;
    //     justify-content: space-between;
    //     @include mobile{
    //         flex-direction: column;
    //     }
    //     .capas{
    //         .cont-capa{
    //             display: flex;
    //             @include tablet{
    //                 flex-direction: column;
    //                 align-items: flex-start;
    //                 margin-bottom: 1rem;
    //             }
    //             .titulos-capa{
    //                 margin-left: 1.5rem;
    //                 display: flex;
    //                 flex-direction: column;
    //                 @include tablet{
    //                     margin:1rem 0 0 0;
    //                 }
    //                 .data-album{
    //                     color: #fff;
    //                     font-family: regular-padrao;
    //                     font-size: .7rem;
    //                 }
    //                 .titulo-album{
    //                     color: #fff;
    //                     font-family: regular-padrao;
    //                     text-transform: uppercase;
    //                     font-size: 1rem;
    //                     margin-bottom:0;
    //                 }
    //                 .autor{
    //                     color: #Fff;
    //                     font-family: regular-padrao;
    //                 }
    //                 .btn-ouvir{
    //                     background: #fcc765;
    //                     font-family: regular-padrao;
    //                     color: #3b26bf;
    //                     border: none;
    //                     padding: .4rem .8rem;
    //                     border-radius: 8px;
    //                     width: max-content;
    //                     font-size: .7rem;
    //                     text-transform: uppercase;
    //                     line-height: .7rem;
    //                     margin-top: 10px;
    //                 }
    //             }
    //         }
    //     }
    //     .faixas{
    //         width:400px;
    //         @include mobile{
    //             width: 100%;
    //         }
    //     }

    // }
    // .ai-narrow{
    //     .ai-control-wrap-thumb{
    //         width: 35%!important;
    //     }
    // }
    // .ai-wrap {
    //     .ai-control-wrap-thumb{
    //         img{
    //             @include tablet{
    //                 display: none;
    //             }
    //         }
    //     }
    //     .ai-control-wrap-controls{
    //         width: 60%!important;
    //         margin-left: 1rem!important;
    //         @include tablet{
    //             width: 100%;
    //         }
    //     }
    // }
    // .nav-tabs{
    //     border: none;
    //     // img{
    //     //     width: 100%;
    //     // }
    //     .nav-link{
    //         border:none;
    //         margin-bottom: .5rem;
    //         padding-top: 0; 
    //         padding-left: 0;
    //         @include tablet{
    //             padding: 0;
    //         }
    //     }
    //     .active{
    //         border:none;
    //         background-color:transparent;
    //         padding-top: 0;
    //         .btn-ouvir{
    //             display: none;
    //         }
    //     }
    // }

}
