footer{
    .cont-footer{
        background-color: #000;
        padding: 4rem 2rem 4rem 2rem;
        @include tablet{
            padding:3rem 0;
        }
        .mapa-site{
            // border-right: solid 1px #fff;
            @include tablet{
                padding: 0 0 1rem 0;
                border-right: none;
                @include flex-center;
            }
            h5{
                color: #Fff;
                font-size: 1.8rem;
                margin-bottom: 1.9rem;
                font-weight: normal !important;
                font-family: regular-padrao;
                @include tablet{
                    font-size: 1.3rem;
                    margin-bottom: 1.5rem;
                }
            }
            ul{
                display: flex;
                justify-content: space-between;
                width: 80%;
                @include tablet{
                    width: 100%;
                }
                li{
                    margin-bottom:2px;
                    a{
                        color: #Fff;
                        font-family: titulo;
                        text-transform: uppercase;
                        font-size: .8rem;
                    }
                }
            }
        }
        .contatos{
            padding: 0 3rem;
            // border-right: solid 1px #fff;
            @include tablet{
                
                margin:0 1rem 2rem 1rem;
                padding: 0;
                border-right: none;
            }
            h5{
                color: #Fff;
                font-size: 1.8rem;
                margin-bottom: 1.9rem;
                font-weight: normal !important;
                font-family: regular-padrao;
                @include tablet{
                    font-size: 1.3rem;
                    margin-bottom: 1.5rem;
                }
            }
            .shows{
                margin-bottom:.8rem;
                a{
                    color: #fb422e;
                    text-decoration: none;
                    font-family: auxiliar;
                    font-size: 1.1rem;
                }

            }
            .tel{
                p{
                    font-family: auxiliar;
                    color: #fff;
                    margin-bottom: 0;
                }
                a{
                    strong{
                        font-size: 1.1rem;
                    }
                }
            }
            address{
                margin-bottom: 1.3rem;
                a{
                    color: #fff;
                    font-family: auxiliar;
                    font-size: 1.1rem;
                    @include tablet{
                        font-size: .9rem;
                    }
                }
            }
           .social-media{
                ul{
                    display: flex;
                    margin: 2.3rem 0 0 0;
                    align-items: center;
                    img{
                        width: 28px;
                    }
                    li:nth-child(2){
                        margin: 0 1rem;
                    }
                }
           }
        }
        .news{
            display: flex;
            flex-direction: column;
            padding: 0 3rem;
            @include tablet{
                padding: 0 1rem;
            }
            h5{
                color: #Fff;
                font-size: 1.8rem;
                margin-bottom: .5rem;
                font-weight: normal !important;
                font-family: regular-padrao;  
            }
            span{
                color: #fff;
                font-family: auxiliar;
                font-size: .8rem;
                margin-bottom: .5rem;
            }
            .group-footer-email{
                input{
                    background-color: #2c2c2c;
                    // border: solid 1px #000000;
                    height: 45px;
                    padding: 1rem;
                    font-size: .8rem;
                    color: #fff;
                    border: 0;
                    width: 70%;
                }
                button{
                    background: #151414;
                    color: #Fff;
                    border: none;
                    // text-transform: uppercase;
                    height: 45px;
                    font-size: .8rem;
                    padding: 0 .8rem;
                    font-family: auxiliar;
                    cursor: pointer;
                    width:25%;
                    border-radius: 1px;
                    transition: all .5s ease-out;
                    &:hover{
                        background: #fff;
                        color: #151414;
                    }
                }
            }
            @include cor-placeholder;
            .social-footer{
                border-top: solid 1px #fff;
                padding-top:1.5rem;
                margin-top: 1.5rem;
                @include flex-center;
                @include tablet{
                    @include flex-extremos;
                }
                .social-item{
                    margin:0 5px;
                    background-color:#2c2c2c;
                    padding: .5rem;
                }
            }
        }
    }
    //jazzz
    .jazzz{
        background-color:#000000;
        .cont-jazzz{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #fff;
            text-transform: uppercase;
            padding: 1rem;
            font-size: .8rem;
        }
    }
}


.tel{
    a{
        color:#fff;
    }
}