.galeria{
    background: url('../img/bg-tijolo.jpg')no-repeat;
    padding: 5rem 1rem 2rem 1rem;
    background-size: cover;
    background-position:center;
    .titulos{
        display: flex;
        justify-content: space-between;
        // align-items: center;
        @include tablet{
            flex-direction: column;
        }
        h2{
            text-align: center;
            text-transform: uppercase;
            font-family: novo-titulo;
            font-size: 2rem;
            margin-bottom: 1.5rem;
            color:#000;
        }
        span{
            a{
                color: #000;
                font-family: novo-titulo;
                font-size: 1.5rem;
            }
        }
    }
    .cont-item{
        // img{
        //     width: 350px;
        //     object-fit: cover;
        //     margin-bottom: 1.2rem;
        //     height: 242px;
        // }
    }
   
}
.seta{
    width: 48px;
    height: 43px;
}
.seta-esquerda{
    position: relative;
    background:url('../icons/seta-slide.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    margin-bottom: 5px;
}
.seta-direita{
    transform: rotate(180deg);
    position: relative;
    background:url('../icons/seta-slide.png');
    background-size: 100%;
    background-repeat: no-repeat;
    display: block;
    margin-top: 10px;
}
.owl-nav, .disabled {
        display: block!important;
    }