.hero{
    background: url('../img/bg-hero.jpg')no-repeat;
    background-size: cover;
    position: relative;
    header{
        position: relative;
        .cont-header{
            @include flex-extremos;
            padding:1rem 2rem 0 2rem;
            @include mobile{
                padding: .5rem;
            }
            // position: absolute;
            width: 100%;
            .info-menu{
                // background: url('../img/bg-info.png')no-repeat;
                display: flex;
                justify-content: center;
                align-items: center;
                @include tablet{
                    background: none;
                }
                .info{
                    @include flex-column;   
                    margin-right: 1.5rem;
                    width: 180px;
                    height: 100px;
                    @include tablet{
                        display: none;
                    }
                    span{
                        color: #000;
                        text-transform: uppercase;
                        font-family: auxiliar-secundaria;
                        font-size: 1.2rem;
                        line-height: 14px;
                    }
                    a{  
                        color: #000;
                        font-family: auxiliar-secundaria;
                        font-size: 1.2rem;
                        text-decoration: none;
                    }
                }
                .menu{
                    width: 60px;
                    height:60px;
                    background: #000;
                    display: flex;
                    justify-content: center;
                    border-radius: 50%;
                }
            }
        }
    }
    .hero-content{
        .tom-banner{
            width: 800px;
            height:730px;
            @include tablet{
                width: 100%;
                height: 310px;
            }
            .frase-banner{
                position: absolute;
                top: 0;
                right: 0;
                @include tablet{
                    display: none;
                }
            }
            .frase{
                position: absolute;
                top: 15%;
                right: 0;
                color: #fff;
                font-family: novo-titulo;
                font-size: 2.3rem;
                text-transform: uppercase;
                max-width: 500px;
                @include tablet{
                    display: none;
                }
            }
        }
        .carousel-item {
           
            img{
                @include tablet{
                    width: 80%;
                }
            }
        }
        .carousel-indicators{
            display: flex;
            align-items: center;
            justify-content:center;
            li{
                width: 7px;
                height: 7px;
                border-radius: 50%;
            }
            .active{
                width: 10px;
                height: 10px;
            }
        }
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: relative;
        .tom-luzir{
            display: flex;
            justify-content: center;
            position: relative;
            // top: 4rem;
            picture{
                position: relative;
                // z-index: 9;
                img{
                    @include tablet{
                        width: 100%;
                    }
                }
            }
        }
        .hero-cta{
            color: #fcc765;
            // background: url(../img/formas/circle.png) no-repeat;
            height: 252px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 250px;
            position: absolute;
            right: 10px;
            z-index: 2;
            font-family: titulo;
            text-align: center;
            font-size: 1.6rem;
            @include mobile{
                height: 155px;
                width: 155px;
            }
            @include sm-mobile{
                width: 135px;
            }
            h1:nth-child(1){
                font-size: 1.5rem;
                @include mobile{
                    font-size: 1rem;
                }
            }
            h1:nth-child(2){
                font-size: 2rem;
                @include mobile{
                    font-size: 1.3rem;
                }
                @include sm-mobile{
                    font-size: 1rem;
                }
            }
            .btn-top{
                font-size: 9px;
                background: #fb422e;
                text-transform: uppercase;
                color: #fff;
                border: none;
                border-radius: 7px;
                font-family: regular-padrao;
                padding: 3px 1rem;
                cursor: pointer;
                text-decoration: none;
            }
        }
    }
}
//triangulos do banner
.formas{
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include desktop{
        top:10%;
    }
    @include tablet{
        display: none;
    }
}
//redes sociais
.social-hero{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    bottom: 7%;
    align-items: flex-end;
    @include tablet{
        top: 69%;
    }
    @include mobile{
        width: max-content;
        right: 0;
        top: 72%;
    }
    .youtube{
        margin-left: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @include mobile{
            display: none;
        }
        iframe{
            border-radius: 10px;
            margin-top: .5rem;
        }
    }
    .redes-sociais{
        margin-right: 1.5rem;
        margin-bottom: 0;
        li{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 1rem;
            @include flex-center;
        }
        li:nth-child(1){
            background: #fb422e;
            margin-bottom: .8rem;
        }
        li:nth-child(2){
            background: #dd2a7b;
            margin-bottom: .8rem;
        }
        li:nth-child(3){
            background: #0a73f5;
            margin-bottom: .8rem;
        }
        li:nth-child(4){
            background: #00a80e;
            margin-bottom: .8rem;
        }
        li:nth-child(5){
            background: #08a0e9;
        }
    }
}