.overlay {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background:#1f1e1efa;
  // background-color:#fff;
  overflow-x: hidden;
  transition: 0.4s;
  @include tablet{
    height:105vh;
  }
  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color:#fcc765;
    display: block;
    transition: 0.3s;
    width:max-content;
    margin-left:4rem;
    font-family: titulo;
    font-size: 3rem;
    text-transform: uppercase;
    @include tablet{
      font-size:1.5rem;
      margin-left:2rem;
    }
    &:hover{
      color:#fff;
    }
    &:focus{
      color:#fff;
    }
  }
  .overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    @include tablet{
      top:10%;
    }
    @include mobile{
      top:25%;
    }
  }
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    @include tablet{
      top: 0;
      right:10px;
      font-size:40px;
    }
  }
}
.menu{
  @include flex-center;
  background:#fff;
  width: max-content;
  width:56px;
  height:56px;
  img{
    width:24px;
    height: 24px;
  }
  cursor: pointer;
  @include tablet{
    padding:.5rem;
  }
}