.modal-cd{
    .modal-dialog {
        max-width: 700px;
        .modal-content{
            border: 0;
            border-radius: 0;
        }
        .modal-header{
            border-bottom: 0;
            padding:1rem 1.5rem 0 1.5rem;
            @include mobile{
                padding: 1rem 1rem 0 1rem;
            }
            h1{
                font-family: titulo;
                font-size: 2.3rem;
                margin-bottom: 0;
            }
        }
        .modal-body{
            padding: 1rem 1.5rem;
            @include mobile{
                padding: 1rem 1rem 0 1rem;
            }
        }
        .cont-modal{
            display: flex;
            @include mobile{
                flex-direction: column-reverse;
            }
            img{
                width: 480px;
                @include mobile{
                    width: 100%;
                    margin-bottom: 1rem;
                }
            }
            .info-modal{
                @include mobile{
                    padding: 0 0 1rem 0;
                }
            }
            p{
                font-family: auxiliar-secundaria;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.2rem;
            }
            ul{
                font-family: auxiliar-secundaria;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 1.2rem;
                @include mobile{
                    display: none;
                }
            }
            a{
                color: #fff;
                font-family: titulo;
                text-transform: uppercase;
                background: #523aff;
                padding: .4rem 1.3rem;
                border-radius: 5px;
                text-decoration: none;
                transition: all .5s ease-out;
                &:hover{
                    background: #ffc964;
                    color: #000;
                }
            }
        }
    }
}