.sobre{
    padding: 2rem 4rem 3rem 4rem;
    background: #000;
    @include tablet{
        padding: 0;
    }
    .cont-sobre{
        display: flex;
        justify-content: space-between;
        @include tablet{
            flex-direction: column;
        }
        .img-sobre{
            width: 50%;
            @include tablet{
                width: 100%;
                display:flex;
            }
            img{
                width: 80%;
                @include tablet{
                    width: 250px;
                    height: 250px;
                    object-fit: cover;
                }
            }
        }
        .txt-sobre{
            width: 50%;
            @include tablet{
                width: 100%;
                padding: 1rem;
            }
            h2{
                color: #fff;
                font-family: titulo;
                font-size: 2.3rem;
                margin-bottom: 1.5rem;
                @include tablet{
                    font-size: 1.5rem;
                }
            }
            .conteudo{
                max-width: 90%;
                height: 620px;
                overflow: auto;
                @include tablet{
                    max-width: 100%;
                }
                p{
                    color: #fff;
                    font-family: regular-padrao;
                    font-size: .9rem;
                    text-align: justify;
                    padding-right: 1rem;
                    a{
                        color: #ffc964;
                    }
                }
            }
            .conteudo::-webkit-scrollbar-track {
                background-color: #1e1e1e;
            }
            .conteudo::-webkit-scrollbar {
                width:9px;
                background: #1e1e1e;
            }
            .conteudo::-webkit-scrollbar-thumb {
                background: #5e5e5e;
            }
        }
    }
}