@import 'responsivo';
@import 'mixins';
@import 'cores';
@import 'footer';
@import 'home';
@import 'sobre';
@import 'albuns';
@import 'agenda';
@import 'menu';
@import 'galeria';
@import 'modal';
html {scroll-behavior: smooth;}

@font-face {
    font-family: titulo;
    src: url('fonts/Antonio-Regular.ttf');
}
@font-face {
    font-family: novo-titulo;
    src: url('fonts/gotham-black.otf');
}
@font-face{
    font-family: regular-padrao;
    src:url('fonts/Aller_Rg.ttf');
}
@font-face{
    font-family: auxiliar-secundaria;
    src: url('fonts/BebasNeue-Regular.ttf');
}
@font-face{
    font-family: auxiliar;
    src:url('../css/fonts/PTSans-Regular.ttf');
}